{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'survey/css/styles.css' %}" rel="stylesheet">
    <!-- functions and more -->
    <script src="{% static 'survey/js/consistency.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('input[id=educsup]').on('input change', function () {
                $('input[id=educsup]').addClass('myclass');
            });
        });
    </script> 

    <style>
        .otree-btn-next{
            display: none !important;
        }
    </style>
{% endblock %}

{% block title %}
    Educación Superior
{% endblock %}

{% block content %}

<p>
    En una escala del 0 al 100, donde <b>0</b> es "no voy a continuar estudiando" y <b>100</b> es "con toda seguridad voy a ingresar a un programa de Educación superior", 
    por favor díganos ¿Qué tan probable es que el próximo año ingrese a un programa de Educación Superior?
</p>
<p>
    Haga <i>clic</i> sobre la línea y luego mueva el recuadro para elegir un número entre 0 y 100.
</p>

<!--slider --> 
<div class="card_table" id="h-slider-div" style="text-align: center;">
    <div id="slider"></div>
    </div>
    
            {{ form.check_slider_educsup.errors }}
            <div class="card_table" id="h-slider-div" style="text-align: center;">
                <table class="table_question">
                    <tr>
                        <td class="text_slider"><b id="d_pa"></b></td>
                        <td class="text_slider"><b id="efficacy_score"> - </b></td>
                        <td class="text_slider"><b id="d_pb"></b></td>
                    </tr>
                    <tr>
                        <td class="td_text_slider">No voy a <br> continuar estudiando</td>
                        <td class="td_slider">
                            <input type="range" name="educsup" value="" min="0" max="100" step="1" id="educsup" class="slider_efficacy" required>
                            <input type="hidden" name="check_slider_educsup" value="" id="id_check_slider_educsup" required>
                        </td>
                        <td class="td_text_slider">Con toda seguridad <br> voy a ingresar a <br> un programa de <br> Educación superior</td>
                    </tr>
                </table>
            </div>
<!--slider --> 
    {% next_button %}

{% endblock %}
