{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load static %}

{% block title %} Pregunta 3: Lectura crítica {% endblock %} 

{% block content %}
    <p class="aligncenter" >
        <img src = "{% static 'survey/icfes_l.png' %}" width="1000px" title="Texto Lectura crítica"/>
    </p> 

    <p>Pregunta</p>
    <p class="aligncenter" >
        <img src = "{% static 'survey/icfes_l1.png' %}" width="1000px" title="Lectura crítica 1"/>
    </p> 

    {% formfields %}

{% next_button %}

{% endblock %}