{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Preguntas ICFES
{% endblock %}

{% block content %}
<p>
    En las siguientes preguntas usted responderá <b>8</b> preguntas similares a las que se incluyen en el exámen <i>Saber 11</i>:
    <b>2</b> de Matemáticas, <b>2</b> de Lectura Crítica, <b>2</b> de Sociales y Ciudadanas, <b>2</b> de Ciencias Naturales.<br>
    En una actividad posterior le preguntaremos a sus acudientes sobre cómo creen que fue su desempeño en estas 8 preguntas. 
</p>

<p> Haga <I>clic</I> en "Siguiente" para comenzar.</p>

{% next_button %}

{% endblock %}
