{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Aspiraciones ocupacionales
{% endblock %}

{% block content %}
<p>Por favor haga una lista de 5 <i>profesiones</i>, <i>oficios</i> u <i>ocupaciones</i> que considere ideales para usted.<br>
Escríbalas en orden de importancia, donde <b>1</b> significa que "es lo que más me le gustaría hacer" y <b>5</b> significa que "es la que menos le gustaría hacer":</p>  

<p><b>¿Para hacer lo que más le gusta es necesaria una carrera?:</b></p>
<div class="wrapper">
    <p>           
        <table>
            <tr style="text-align: center; vertical-align: middle;">
                <td style="width: 20px; text-align: center; vertical-align: middle;">
                    <input type="radio" id="etype_opc1" name="educ_type" value="1">
                </td><td style="text-align: left; vertical-align: middle;">
                    <label for="etype_opc1">Técnica</label><br>
                </td>
            </tr>
            <tr style="text-align: center; vertical-align: middle;">
                <td style="width: 20px; text-align: center; vertical-align: middle;">
                    <input type="radio" id="etype_opc2" name="educ_type" value="2">
                </td><td style="text-align: left; vertical-align: middle;">
                    <label for="etype_opc2">Tecnológica</label><br>
                </td>
            </tr>
            <tr>
                <td style="width: 20px; text-align: center; vertical-align: middle;">
                    <input type="radio" id="etype_opc3" name="educ_type" value="3">
                </td><td style="text-align: left; vertical-align: middle;">
                    <label for="etype_opc3">Militar</label><br>
                </td>
            </tr>
            <tr>
                <td style="width: 20px; text-align: center; vertical-align: middle;">
                    <input type="radio" id="etype_opc3" name="educ_type" value="3">
                </td><td style="text-align: left; vertical-align: middle;">
                    <label for="etype_opc3">Profesional</label><br>
                </td>
            </tr>
            <tr>
                <td style="width: 20px; text-align: center; vertical-align: middle;">
                    <input type="radio" id="etype_opc4" name="educ_type" value="4">
                </td><td style="text-align: left; vertical-align: middle;">
                    <label for="etype_opc4">Ninguna </label><br>
                </td>
            </tr>
        </table>
    </p>

    <p><b>Escriba el nombre de la institución educativa en la que desea estudiar: </b></p>
    <textarea name="educ_university" id="educ_university" class="form-control text_input" placeholder="Coloque el nombre aquí por favor" required style="margin-bottom: 10px;"></textarea>

    {% next_button %}

{% endblock %}
