{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'survey/css/styles.css' %}" rel="stylesheet">
    <!-- functions and more -->
    <script src="{% static 'survey/js/consistency.js' %}"></script>
    
    <script type="text/javascript">

    </script>

    <style>
        .otree-btn-next {
            display: none;
        }
    </style>
{% endblock %}

{% block title %}
    ¿Qué tan probable es?
{% endblock %}

{% block content %}
<div class="div_table_center">
    <table class="table_center">
        <tr>
            <th style="background: #CDCDCD;">BAJO</th>
            <th style="background: #CDCDCD;">MEDIO</th>
            <th style="background: #C4FFA5;">ALTO<br>(Suponga queda acá)</th>
        </tr>
        <tr>
            <td>Menos de 250</td>
            <td>Entre 251 y 350</td>
            <td>Más de 350</td>
        </tr>
    </table>
</div>
<br>

<p>
    Suponga que usted obtiene un puntaje global <b>ALTO</b> en el <i>Saber 11</i>, es decir, obtiene más de 350 puntos. <br>
    Llene por favor la siguiente tabla con las probabilidades de que esté haciendo cada una de estas actividades el siguiente año en JUNIO: 
</p>

<table style="padding: 10px; margin: 20px auto">
    <tr>
        <th>OCUPACIÓN</th>
        <th>PROBABILIDAD</th>
    </tr>
    {% for opt in shuffle_table %}
    <tr>
        <td>{{ opt.label }}</td>
        <td><input type="number" min="0" max="100" title="Coloque un número entre 0 y 100" class="input_number" name="h{{ opt.name }}" id="{{ opt.name }}"></td>
    </tr>
    {% endfor %}
    <tr>
        <th>SUMA PROBABILIDADES</th>
        <th><b id="sum_prob" style="color: red">0</b></th>
    </tr>
</table>

<p>
    <b>Nota:</b> La suma de las probabilidades debe ser igual a 100%.
</p> 

<input type="button" value="Siguiente" class="btn_next" onclick="enviar()">

{% endblock %}
