{% extends "global/Page.html" %}
{% load otree static %}
{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'css/schools.css' %}" rel="stylesheet">
    <script src="{% static 'js/schools.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            formulario = document.getElementById("form");
        });

        // Función para pasar a la siguiente pantalla
        function next_screen(){
            if(cnt_eleccion != 0) {
                document.getElementById("mi_mundo3").value = elecciones.toString();
                formulario.submit();
            } else {
                alert("Selecciona por lo menos una respuesta");
            }
        };

        var cnt_eleccion = 0;
        var elecciones = [];

        $(function () {
            $('.select_button').click(function () {
                var value = $(this).attr('name');
                var id = $(this).attr('id');
                if(value == "0") {
                    if(cnt_eleccion < 3) {
                        cnt_eleccion += 1;
                        document.getElementById(id).className += " select_button_active";
                        document.getElementById(id).name = "1";
                        elecciones.push(id);
                    }
                } else {
                    cnt_eleccion -= 1;
                    document.getElementById(id).className = "select_button";
                    document.getElementById(id).name = "0";
                    for(var i = 0; i < elecciones.length; i++){ 
                        if (elecciones[i] == id) { 
                            elecciones.splice(i, 1); 
                        }
                    }
                }
                console.log("Elecciones", elecciones);
            });
        });
    </script>
    <style>
    .hidden_button {  
        left: 484px;
        top: 1468px;
        width: 410px;
        height: 67px;
    }

    #opt01 {
        left: 95px;
        top: 505px;
        width: 180px;
        height: 280px;
    }

    #opt02 {
        left: 290px;
        top: 505px;
        width: 180px;
        height: 280px;
    }

    #opt03 {
        left: 490px;
        top: 505px;
        width: 180px;
        height: 280px;
    }

    #opt04 {
        left: 688px;
        top: 505px;
        width: 180px;
        height: 280px;
    }

    #opt05 {
        left: 888px;
        top: 505px;
        width: 180px;
        height: 280px;
    }

    #opt06 {
        left: 1085px;
        top: 505px;
        width: 180px;
        height: 280px;
    }

    #opt07 {
        left: 95px;
        top: 830px;
        width: 180px;
        height: 280px;
    }

    #opt08 {
        left: 290px;
        top: 830px;
        width: 180px;
        height: 280px;
    }

    #opt09 {
        left: 490px;
        top: 830px;
        width: 180px;
        height: 280px;
    }

    #opt10 {
        left: 688px;
        top: 830px;
        width: 180px;
        height: 280px;
    }

    #opt11 {
        left: 888px;
        top: 830px;
        width: 180px;
        height: 280px;
    }

    #opt12 {
        left: 1085px;
        top: 830px;
        width: 180px;
        height: 280px;
    }

    #opt13 {
        left: 95px;
        top: 1155px;
        width: 180px;
        height: 280px;
    }

    #opt14 {
        left: 290px;
        top: 1155px;
        width: 180px;
        height: 280px;
    }

    #opt15 {
        left: 490px;
        top: 1155px;
        width: 180px;
        height: 280px;
    }

    #opt16 {
        left: 688px;
        top: 1155px;
        width: 180px;
        height: 280px;
    }


    

    </style>
{% endblock %}

{% block content %}
<div class="container_body">
    <img src= "{% static 'img/7. mi_mundo3.png' %}" alt="mi mundo 3" class="img_width_all">

<input type="button" class="select_button" id="opt01" name="0">

<input type="button" class="select_button" id="opt02" name="0">

<input type="button" class="select_button" id="opt03" name="0">

<input type="button" class="select_button" id="opt04" name="0">

<input type="button" class="select_button" id="opt05" name="0">

<input type="button" class="select_button" id="opt06" name="0">

<input type="button" class="select_button" id="opt07" name="0">

<input type="button" class="select_button" id="opt08" name="0">

<input type="button" class="select_button" id="opt09" name="0">

<input type="button" class="select_button" id="opt10" name="0">

<input type="button" class="select_button" id="opt11" name="0">

<input type="button" class="select_button" id="opt12" name="0">

<input type="button" class="select_button" id="opt13" name="0">

<input type="button" class="select_button" id="opt14" name="0">

<input type="button" class="select_button" id="opt15" name="0">

<input type="button" class="select_button" id="opt16" name="0">

<input type="button" class="hidden_button" onclick="next_screen()">


<input type="hidden" class="variable" name="mi_mundo3" id="mi_mundo3">

</div>

    {% next_button %}

{% endblock %}
