{% extends "global/Page.html" %}
{% load otree static %}
{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'css/schools.css' %}" rel="stylesheet">
    <script src="{% static 'js/schools.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            formulario = document.getElementById("form");
        });

        // Función para pasar a la siguiente pantalla
        function next_screen(){
            //document.getElementById("mi_mundo_1").value = elecciones.toString();
            formulario.submit();
        };

        var cnt_eleccion = 0;
        var elecciones = [];

        $(function () {
            $('.select_button').click(function () {
                var value = $(this).attr('name');
                var id = $(this).attr('id');
                if(value == "0") {
                    if(cnt_eleccion < 2) {
                        cnt_eleccion += 1;
                        document.getElementById(id).className += " select_button_active";
                        document.getElementById(id).name = "1";
                        elecciones.push(id);
                    }
                } else {
                    cnt_eleccion -= 1;
                    document.getElementById(id).className = "select_button";
                    document.getElementById(id).name = "0";
                    for(var i = 0; i < elecciones.length; i++){ 
                        if (elecciones[i] == id) { 
                            elecciones.splice(i, 1); 
                        }
                    }
                }
                console.log("Elecciones", elecciones);
            });
        });
    </script>
    <style>
    .hidden_button {  
        left: 480px;
        top: 758px;
        width: 413px;
        height: 69px;
    }

    #opt01 {
        left: 110px;
        top: 502px;
        width: 149px;
        height: 180px;
    }

    #opt02 {
        left: 305px;
        top: 502px;
        width: 152px;
        height: 180px;
    }

    #opt03 {
        left: 505px;
        top: 502px;
        width: 149px;
        height: 180px;
    }

    #opt04 {
        left: 695px;
        top: 502px;
        width: 163px;
        height: 180px;
    }

    #opt05 {
        left: 894px;
        top: 502px;
        width: 162px;
        height: 180px;
    }

    #opt06 {
        left: 1103px;
        top: 502px;
        width: 139px;
        height: 180px;
    }


</style>
{% endblock %}

{% block content %}
<div class="container_body">
<img src= "{% static 'img/5. mi_mundo1.png' %}" alt="mi mundo 1" class="img_width_all">

<input type="button" class="select_button" id="opt01" name="0">

<input type="button" class="select_button" id="opt02" name="0">

<input type="button" class="select_button" id="opt03" name="0">

<input type="button" class="select_button" id="opt04" name="0">

<input type="button" class="select_button" id="opt05" name="0">

<input type="button" class="select_button" id="opt06" name="0">

<input type="button" class="hidden_button" onclick="next_screen()">


<input type="hidden" class="variable" name="mi_mundo_1" id="mi_mundo_1">

</div>
{% next_button %}

{% endblock %}
