{% extends "global/Page.html" %}
{% load otree static %}
{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'css/schools.css' %}" rel="stylesheet">
    <script src="{% static 'js/schools.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            formulario = document.getElementById("form");
        });

        // Función para pasar a la siguiente pantalla
        function next_screen(){
            if(cnt_eleccion != 0) {
                document.getElementById("mundo_trabajo7").value = elecciones.toString();
                formulario.submit();
            } else {
                alert("Selecciona por lo menos una respuesta");
            }
        };

        var cnt_eleccion = 0;
        var elecciones = [];

        $(function () {
            $('.select_button').click(function () {
                var value = $(this).attr('name');
                var id = $(this).attr('id');
                if(value == "0") {
                    if(cnt_eleccion < 1) {
                        cnt_eleccion += 1;
                        document.getElementById(id).className += " select_button_active";
                        document.getElementById(id).name = "1";
                        elecciones.push(id);
                    }
                } else {
                    cnt_eleccion -= 1;
                    document.getElementById(id).className = "select_button";
                    document.getElementById(id).name = "0";
                    for(var i = 0; i < elecciones.length; i++){ 
                        if (elecciones[i] == id) { 
                            elecciones.splice(i, 1); 
                        }
                    }
                }
                console.log("Elecciones", elecciones);
            });
        });
    </script>
    <style>
    .hidden_button {  
        left: 86px;
        top: 805px;
        width: 410px;
        height: 70px;
    }

    #opt01 {
        left: 125px;
        top: 520px;
        width: 320px;
        height: 215px;
    }

    #opt02 {
        left: 490px;
        top: 520px;
        width: 333px;
        height: 215px;
    }


</style>
{% endblock %}

{% block content %}
<div class="container_body">
<img src= "{% static 'img/16. mundo_trabajo7.png' %}" alt="16.mundo_trabajo7" class="img_width_all">

<input type="button" class="select_button" id="opt01" name="0">

<input type="button" class="select_button" id="opt02" name="0">


<input type="button" class="hidden_button" onclick="next_screen()">


<input type="hidden" class="variable" name="mundo_trabajo7" id="mundo_trabajo7">

</div>
{% next_button %}

{% endblock %}

