{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<h1>Asentimiento Informado</h1>
<p> Usted ha sido invitado a participar en esta actividad en la cual deberá tomar una serie de decisiones y responder algunas preguntas relacionadas con usted. 
  El monto mínimo que recibirá por completar toda la actividad es de $10.000.  
  Las decisiones y los pagos asociados a estas se explicarán en las instrucciones. 
  Esperamos que participe en futuras actividades de otros investigadores, aún si no hay un pago de por medio. </p>
  
<p><b>Toda la información (decisiones y ganancias) que se recolecte en esta actividad será utilizada de manera confidencial por los investigadores del proyecto y con fines estrictamente académicos.</b>. 
  Su información individual no será compartida con el Colegio pues los datos serán anonimizados. 
  Sus decisiones y respuestas durante esta actividad no tendrán ningún efecto sobre sus calificaciones, y derechos-obligaciones como estudiante del Colegio.</p>

<p>Su participación en este ejercicio es totalmente voluntaria. 
  Usted puede retirarse en cualquier momento. 
  Sin embargo, si decide retirarse antes de que la actividad termine, usted no recibirá ninguna ganancia. 
  Usted también podrá ser retirado de la actividad si luego de un segundo llamado de atención por estar realizando otras actividades, no continúa con las tareas indicadas. 
  En este caso tampoco recibirá ninguna ganancia.</p>

<p>Si completa la actividad, sus ganancias serán procesadas después de que usted termine de responder la encuesta al final de la actividad. 
  En la invitación a participar usted recibió un <i>código de participante</i>, 
  por favor no pierda ese código (cuando pueda tómele una foto con el celular) y en ese mismo papel escriba sus ganancias totales pues necesitará esos datos para poder reclamar sus ganancias el siguiente día hábil de acuerdo con las indicaciones al final de la actividad.  </p>

<p>Cada participante recibirá sus pagos en privado. Para recibir el pago usted deberá firmar un recibo, donde deberá escribir su número de documento de identidad. 
  Ese recibo será utilizado únicamente para certificar el pago y será entregado a la Universidad del Rosario como un soporte contable.  </p>

<p>No hay riesgos previstos asociados con la participación en esta actividad. </p>

<p>Si tiene preguntas o inquietudes, puede escribir al número de 
  WhatsApp <a href="https://api.whatsapp.com/send?phone=573157304369" target="_blank">3157304369</a> o al 
  correo <a href="mailto:rebel@urosario.edu.co" target="_blank">rebel@urosario.edu.co</a> </p>

<p><b>ACEPTACIÓN:</b></p>
<p>Haga clic en las dos casillas si está de acuerdo en continuar. 
  Si decide no continuar con el estudio, por favor cierre esta ventana y abandone la sesión de la actividad.</p>
<p>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="consent" id="consent">
  <label class="form-check-label" for="consent">
    Comprendo la información anterior y mis derechos y compromisos durante esta actividad. 
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="True" name="consent_account" id="consent_account">
  <label class="form-check-label" for="consent_account">
    Comprendo que para recibir mi pago debo presentar un papel con mi código de participante y mis ganancias el día de mañana en el colegio. 
  </label>
</div>
</p>
<div id='b_consent'>
{% next_button %}
</div>
{% endblock %}

{% block global_scripts %}
<script>
  var checkbox1 = $('#consent'), checkbox2 = $('#consent_account'),
    chShipBlock = $('#b_consent'), consent = false, consent_account = false;

  chShipBlock.hide();
  checkbox1.on('click', function () {
    if ($(this).is(':checked')) {
      consent = true;
    } else {
      consent = false;
    }
    showButton()
  });
  checkbox2.on('click', function () {
    if ($(this).is(':checked')) {
      consent_account = true;
    } else {
      consent_account = false;
    }
    showButton()
  });
  function showButton() {
    if (consent && consent_account) {
      chShipBlock.show();
    } else {
      chShipBlock.hide();
    }
 }
</script>
{% endblock %}

if($(this).is(':checked')) {
chShipBlock.show();
chShipBlock.find('input').attr('required', true);
} else {
chShipBlock.hide();
chShipBlock.find('input').attr('required', false);
}