{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Preguntas
{% endblock %}

{% block content %}

<p> Haga <i>clic</i> sobre el vínculo mostrado abajo para acceder a las "Preguntas". Una vez allí, responda las preguntas hasta llegar a los RESULTADOS. </p>

<p> Luego de llegar a los resultado por favor regrese y escriba los 5 núcleos de conocimiento con los que tiene mayor afinidad según los RESULTADOS. </p> 

<p>1. </p>
<p>2. </p>
<p>3. </p>
<p>4. </p>
<p>5. </p>

<p>
    <a role="button" href="https://proyectateherramienta.mineducacion.gov.co/MenVocOcup/Default.aspx?ReturnUrl=%2fMenVocOcup%2fSistema%2fRutaConiciomiento0-00.aspx"  target="_blank" class="btn btn-info mx-auto d-block w-25">Preguntas</a>
</p>

{% next_button %}
{% endblock %}


