{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <!-- functions and more -->
    <script src="{% static 'js/functions.js' %}"></script>
    
    <script type="text/javascript">

    </script>

    <style>
        
    </style>
{% endblock %}

{% block title %}
    Instrucciones Juego
{% endblock %}

{% block content %}

    <p> 
        Esta actividad se compone de 6 problemas. En los siguientes párrafos explicamos la estructura de un problema típico.
    </p>
        
    <p> 
        Cada problema presenta información sobre los retornos a dos inversiones: <i>Inversión 1</i> e <i>Inversión 2</i>. En cada problema hay 6 escenarios posibles. 
        Usted debe decidir cuánto de los $20.000 que ganó por completar esta encuesta decide asignar a cada inversión. 
        Los rendimientos a esas inversiones le serán entregados en efectivo con sus pagos de la apuesta del <i>Saber 11</i> en una actividad posterior. 
    </p> 

    <p>
        La información será presentada en una tabla como la siguiente: 
    </p>

    <div class="div_table">
        <br>
    <table class="table_profitability">
        <tr>
            <th colspan="3">PROBLEMA</th>
        </tr>
        <tr>
            <th>Escenario</th>
            <th>Inversión<br>1</th>
            <th>Inversión<br>2</th>
        </tr>
        {% for key, value in profitability.items %}
        <tr>
            <td>{{ key }}</td>
            {% if value.i1 == 10 %}
            <td style="background-color: #7A6DFF; font-weight: bold;">
            {% else %}
            <td style="background-color: #C8C2FF;">
            {% endif %}
            {{ value.i1 }}</td>
            {% if value.i2 == 10 or value.i2 == 12 %}
            <td style="background-color: #6FC640; font-weight: bold;">
            {% else %}
            <td style="background-color: #CDFFC2;">
            {% endif %}
            {{ value.i2 }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <p>
        En la tabla anterior, se muestra el % de rendimiento por cada peso que usted asigne a cada Inversión. Por ejemplo:
        <ul>
            <li><b>Escenario 1:</b> por cada $10.000 que se asigne a la Inversión 1 usted podrá ganar $1.000 adicionales y por cada $10.000 que se asigne a la Inversión 2 podrá ganar $1.000 adicionales.</li>
            <li><b>Escenario 3:</b> por cada $10.000 que se asigne a la Inversión 1 usted podrá ganar $600 adicionales y por cada $10.000 que se asigne a la Inversión 2 podrá ganar $1.000 adicionales.</li>
            <li><b>Escenario 5:</b> por cada $10.000 que se asigne a la Inversión 1 usted podrá ganar $600 adicionales y por cada $10.000 que se asigne a la Inversión 2 podrá ganar $400 adicionales.</li>
          </ul>
        Cada inversión puede tener un % de rendimiento ALTO y % de rendimiento BAJO y esos porcentajes pueden variar en cada problema. 
    </p>
    <p>
        Para determinar sus ganancias seleccionaremos al azar <b>un problema</b> y <b>uno de los escenarios</b> para ser pagados.
        Es como si se lanzaran dos dados: UNO para determinar el problema relevante para el pago y UNO para determinar el escenario.
        Su ganancia adicional entonces dependerá del dinero que usted le asignó a cada inversión en el problema elegido y del escenario elegido. 
    </p>

    <h5>Quiz</h5>
    <p>
        <b>Caso 1</b>: Suponga que el problema seleccionado para el pago corresponde al de la Tabla mostrada arriba y al lanzar el dado virtual, el escenario que determinará el pago es el Escenario 6. 
        Teniendo en cuenta que usted asignó $20.000 a la {% if investment1 %}
            Inversión 1.
        {% else %}
            Inversión 2.
        {% endif %} 

        {% if investment1 %}
            {% formfield 'quiz1_1' %}
        {% else %}
            {% formfield 'quiz1_2' %}
        {% endif %}
    </p>
    <p>
        <b>Caso 2</b>: Suponga que el problema seleccionado para el pago corresponde al de la Tabla mostrada arriba y al lanzar el dado virtual, el escenario que determinará el pago es el Escenario 6. 
        Teniendo en cuenta que usted asignó $10.000 a la Inversión 1 y $10.000 a la Inversión 2.<br> 
        {% formfield 'quiz2' %}
    </p>
    
   
    {% next_button %}



{% endblock %}
