{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Respuestas Quiz
{% endblock %}

{% block content %}
<p><b>Caso 1:</b> 
{% if investment1 == 1 %}
   {% if quiz1_1 == 2000 %}
      <b><font color="Green">Correcto</font></b>
   {% else %}
      <b><font color="Red">Incorrecto</font></b>
   {% endif %}
   <br>La ganancia adicional será de $2.000 [$20.000 x 10%]<br> 
   Recuerde: <i>La rentabilidad de la <i>Inversión 1</i> en el <i>Escenario 6</i> es del 10%.</i>  
{% else %}
   {% if quiz2_1 == 800 %}
      <b><font color="Green">Correcto</font></b>
   {% else %}
      <b><font color="Red">Incorrecto</font></b>
   {% endif %}
   <br>La ganancia adicional será de $800 [$20.000 x 4%]<br> 
   Recuerde: <i>La rentabilidad de la <i>Inversión 2</i> en el <i>Escenario 6</i> es del 4%.</i>  
{% endif %}
</p>

<p><b>Caso 2:</b>
   {% if quiz2 == 1400 %}
      <b><font color="Green">Correcto</font></b>
   {% else %}
      <b><font color="Red">Incorrecto</font></b>
   {% endif %}
   <br>La ganancia adicional será de $1.400 [$10.000 x 10% + $10.000 x 4%]<br> 
   Recuerde: <i>La rentabilidad de la <i>Inversión 1</i> en el <i>Escenario 6</i> es del 10% y de la <i>Inversión 2</i> en el <i>Escenario 6</i> es del 4%.</i>  
</p>

{% next_button %}

{% endblock %}